/* 중복적용 */
.background {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading {
  text-align: center;
}
.homeBoxWrap {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
ul {
  padding-right: 10px;
}
ul > li {
  text-align: start;
  line-height: 2;
}
h1,
h2,
h3 {
  color: #000;
}
hr {
  color: #000;
}
a {
  text-decoration: none;
  color: #000;
}
/* detail-style */
.detailContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #000;
}
/* detailItem-style */
.detailItemWrap {
  display: flex;
  flex-direction: column;
  border-bottom: 10px solid rgb(255, 71, 39);
  padding-bottom: 5px;
}
.detailImgListBox::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../public/Marvel_Logo.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.7;
  z-index: -1;
}
.detailImgListBox {
  position: relative;
  display: flex;
}
.liBox {
  background-color: #ffffffd1;
  flex: 1;
}
.detailImg {
  width: 550px;
  height: auto;
  flex: 1;
}
.detailH1font {
  background-color: rgb(255, 71, 39);
  padding: 10px;
  margin: 0px;
  margin-bottom: 5px;
  color: #fff;
}
.detailLinkfont {
  display: flex;
  color: #000;
  font-weight: bold;
  font-size: 22px;
}
.detailLinkfont a {
  padding: 5px 20px 0 20px;
}
.detailLinkfont a:hover {
  color: tomato;
  font-weight: 700;
}

/* movieItem-style */
.movieItemWrap {
  background-color: rgb(0, 0, 0);
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
  border-radius: 5px;
}
.movieItemWrap:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.8);
  background-color: rgb(255, 255, 255);
}
.h2font {
  width: 100%;
  margin: 0;
  margin-bottom: 3px;
  padding: 10px 0;
  background-color: rgb(255, 71, 39);
  color: #fff;
  border: 1px solid #000;
  box-sizing: border-box;
}
.movieItemWrap:hover h2 {
  border-color: #000;
}
.img {
  width: 350px;
  height: 350px;
  border: 1px solid #000000;
}
